.container{
    width: 960px;
    margin: 0 auto;
    padding: 30px;
}
form{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
}
form> input{
    margin-bottom: 30px;
    padding: 10px;
}

form>button{
    margin-bottom: 30px;
    padding: 10px;
}

.bg-danger{
    background-color: brown;
}
.bg-info{
    background-color: cadetblue;
}